// My styles

// Color variables
$black: #000001;
$white: #fffffe;
$grey: #ccc;
$red: #a70000;


// Add zocial icons
@import url(http://weloveiconfonts.com/api/?family=brandico|entypo|zocial);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

// reset & initialise
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background: $black url('../img/background.jpg') no-repeat center;
  padding: 0;
}

h2 {
  font-size: 18px;
  font-weight: 300;
}

h3 {
  font-size: 16px;
  font-weight: 200;
  line-height: 2em;
}

p,
a {
  font-size: 14px;
  font-weight: 100;
  line-height: 1.35em;
}

a {
  color: $grey;
}

// general styles
.black {
  background: $black;
  color: $white;
}

.small {
  font-size: 8px;
}

.medium {
  font-size: 12px;
}

.text-center {
  text-align: center;
}

.fine {
  font-weight: 100;
}

.link {
  cursor: pointer;
}

.error {
  color: $red;
}


// Page elements

.fullscreen {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

#page-top {
  height: 50%;
  width: 100%;
}

header {
  height: 15%;
}

.logo {
  font-size: 24px;
  padding: 0.33em;
  text-align: center;
}

// .open-menu {
//   text-align: center;
//   font-size: 14px;
//   font-weight: 400;
// }

// .tumblr-img,
// .img {
//   max-width: 100%;
// }

#map {
  width: 100%;
  height: 85%;
}

// Search and location list
#page-bottom {
  position: relative;
  height: 50%;
  width: 100%;
}

#search {
  height: 15%;
}

#search-icon {
  font-size: 18px;
  padding: 14px;
  float: left;
}

.input {
  float: left;
  padding: 14px;
  width: 80%;
}

input {
  width: 100%;
  color: $black;
  font-size: 18px;
}

#locations {
  clear: both;
  height: 80%;
  overflow: scroll;
}

.location {
  border-top: 1px solid $grey;
  width: auto;
  padding: 2px;
}

.location-list-item {
  width: 100%;
}

// Info window styling

#info-window {
  position: absolute;
  opacity: 1;
  height: 85%;
  width: 100%;
  bottom: 0;
}

.close {
  float: right;
  padding: 5px 3px;
  cursor: pointer;
}

#pi-title,
#info-title {
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.333em;
  float: left;
  height: 10%;
}

#info-body {
  clear: both;
  letter-spacing: 0.3em;
  padding: 0.333em;
  height: 90%;
  width: 100%;
  overflow: scroll;
}

place-photo {
  width: 100%;
}

#photocontainer {
  max-width: 100%;
  margin: 0 auto;
}

#place-img {
  max-width: 100%;
}

footer {
  position: absolute;
  height: 5%;
  width: 100%;
  bottom: 0;
  padding: 0.33em;
}

.transparent {
    background: rgba(0,0,0,0.5);
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 120;
}

#page-info {
  height: 80%;
  width: 75%;
  margin: 10% auto;
}
